* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, sans-serif;
    background: whitesmoke;
}

.swift1 {
    margin-left: -27%;
    /* align-items: center; */
    /* padding-left: 0%; */
}

.slideshow-container .mySlides .image {
    z-index: -1;
    background-size: cover;
    width: 136.5%;
    display: flex;
    align-items: center;
    height: 550px;
    position: relative;
    padding-top: 60px;
    /* padding-left: -100px; */
}

.slideshow-container .mySlides .text1 {
    text-shadow: 2px 2px 6px white;
    z-index: 99;
    color: blue;
    font-size: 80px;
    font-family: 'Otomanopee One', sans-serif;
    /* margin-top: -10%;
  margin-left: -40%; */
    margin-left: 10px;
    margin-top: -270px;
}

.slideshow-container .mySlides .text2 {
    text-shadow: 2px 2px 4px white;
    z-index: 99;
    color: rgb(43, 255, 43);
    font-size: 50px;
    font-family: 'Otomanopee One', sans-serif;
    /* margin-top: -10%;
  margin-left: -40%; */
    margin-left: 30px;
    margin-top: -180px;
}

.slideshow-container .mySlides .text3 {
    text-shadow: 2px 2px 6px white;
    z-index: 99;
    color: rgb(65, 11, 109);
    font-size: 50px;
    font-family: 'Otomanopee One', sans-serif;
    /* margin-top: -10%;
  margin-left: -40%; */
    margin-left: 30px;
    margin-top: -250px;
}

.slideshow-container .mySlides .text4 {
    text-shadow: 2px 2px 6px white;
    z-index: 99;
    color: rgb(255, 0, 43);
    font-family: 'Otomanopee One', sans-serif;
    font-size: 50px;
    /* margin-top: -10%;
  margin-left: -40%; */
    margin-left: 30px;
    margin-top: -250px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.text {
    color: red;
    font-size: 20px;
    /* padding: 5px 10px; */
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-top: -10%;
    margin-left: -40%;
}

.swift2 {
    margin-top: -1%;
    margin-left: 22%;
}

.dot {
    z-index: 1;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    /* margin: -10%; */
    /* position: absolute; */
    /* margin-left: ; */
    background-color: rgb(248, 7, 7);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: slide;
    -webkit-animation-duration: 5s;
    animation-name: slide;
    animation-duration: 5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

header {
    z-index: 999;
    color: black;
    margin-left: -10px;
    margin-right: -30px;
    margin-top: -10px;
    position: fixed;
    width: 100%;
}

nav .logo {
    color: white;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    margin-left: -50px;
    padding-left: 110px;
}

nav .logo img {
    margin-top: 10px;
    border-radius: 20px;
}

nav {
    height: 70px;
    background: #063247;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .4);
}

nav ul {
    float: right;
    margin-right: 30px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    display: block;
    padding: 0 15px;
    line-height: 70px;
    font-size: 20px;
    background: #063247;
    transition: .5s;
}

nav ul li a:hover,
nav ul li a.active {
    color: #23dbdb;
}

nav ul ul {
    position: absolute;
    top: 85px;
    border-top: 3px solid #23dbdb;
    opacity: 0;
    visibility: hidden;
}

nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
}

nav ul ul li {
    width: 180px;
    display: list-item;
    position: relative;
    border: 1px solid #042331;
    border-top: none;
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul ul {
    border-top: none;
}

nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
}

nav ul ul li a i {
    margin-left: 45px;
}


/* .header{
  background: red;
  width: 100%;
  margin-left: 0;
  margin-top: 0;
  height: 50px;
}


 .header .side-bar20{
 background: black;
 backdrop-filter: blur(15px);
 width: 290px;
 height: 100vh;
 position: fixed;
 top: 0;
 left: -100%;
 overflow-y: auto;
 transition: 0.6s ease;
 transition-property: left;
}

.header .side-bar20.act{
 left: 0;
}

.header .side-bar20 .menu20{
 width: 100%;
 margin-top: 80px;
}

.header .side-bar20 .menu20 .item20{
 position: relative;
 cursor: pointer;
}

.header .side-bar20 .menu20 .item20 a{
 color: red;
 font-size: 16px;
 text-decoration: none;
 display: block;
 padding: 5px 30px;
 line-height: 60px;
}

.header .side-bar20 .menu20 .item20 a:hover{
 background: #8621F8;
 transition: 0.3s ease;
}

.header .side-bar20 .menu20 .item20 i{
 margin-right: 15px;
}

.header .side-bar20 .menu20 .item20 a .dropdown{
 position: absolute;
 right: 0;
 margin: 20px;
 transition: 0.3s ease;
}

.header .side-bar20 .menu20 .item20 .sub-menu{
 background: rgba(255, 255, 255, 0.1);
 display: none;
}

.header .side-bar20 .menu20 .item20 .sub-menu a{
 padding-left: 80px;
}

.header.rotate{
 transform: rotate(90deg);
}

.header .close-btn20{
 position: absolute;
 color: white;
 font-size: 20px;
 right: 0;
 margin: 25px;
 cursor: pointer;
}

.header .menu-btn20{
  z-index: 999;
 position: absolute;
 color: black;
 margin-top: 2%;
 font-size: 20px;
 margin: 25px;
 cursor: pointer;
} */


/* {
  z-index: 99;
  position: fixed;
  background: rgb(253, 1, 1);
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 50px,200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s ease;
} */


/* header .brand{
  z-index: 999;
  color: white;
  font-size: 3em;
  font-weight: 500;
  margin-left: -600px;
  text-transform: uppercase;
  text-decoration: none;
  
}
header.sticky{
  background: green;
  padding: 10px 100px;
} */


/* header .navigation a{
  position: relative;
  color: white;
  font-size: 2em;
  font-weight:500;
  text-decoration: none;
  margin-right: 30px;
  
}
header .navigation a:hover{
  color: orange;
  font-size: 2em;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;

}
header .navigation a:hover {
  color: rgb(51, 171, 247);
  border-radius: 12px;
  border: 2px groove white;
  padding: 9px;
  background-color: white;
} */


/* header .navigation {
  float: right;
  min-height: 100vh;
  background: url(bg.jpg)no-repeat;
  background-size: cover;
  background-position: center;
} */


/* header .navigation input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  color: white;
  margin-right: 40px;
}
header .navigation a{
  margin-right: 80px;
}

header .logo{
  margin-left: 50px;
  border-radius: 50%;
} */


/* .header .logo{
  margin-left: 50px;
  border-radius: 150%;
} */


/* .navigation{
  top: 0;
  min-height: 100vh;
  background: url(frontpage.html)no-repeat;
  background-size: cover;
  background-position: center;
}
 .navigation .side-bar20{
  z-index: 999;
 background: black;
 backdrop-filter: blur(15px);
 width: 290px;
 height: 100vh;
 position: fixed;
 top: 0;
 left: -100%;
 overflow-y: auto;
 transition: 0.6s ease;
 transition-property: left;
}

 .navigation .side-bar20.active{
 left: 0;
 z-index: 999;
}

 .navigation .side-bar20 .menu20{
  z-index: 999;
 width: 100%;
 margin-top: 80px;
}

 .navigation .side-bar20 .menu20 .item20{
 position: relative;
 z-index: 999;
 cursor: pointer;
}

 .navigation .side-bar20 .menu20 .item20 a{
 color: white;
 font-size: 16px;
 text-decoration: none;
 display: block;
 z-index: 999;
 padding: 5px 30px;
 line-height: 60px;
}

.navigation .side-bar20 .menu20 .item20 a:hover{
 background: #8621F8;
 transition: 0.3s ease;
 z-index: 999;
}

 .navigation .side-bar20 .menu20 .item20 i{
 margin-right: 15px;
 z-index: 999;
}

 .navigation .side-bar20 .menu20 .item20 a .dropdown{
 position: absolute;
 z-index: 999;
 right: 0;
 margin: 20px;
 transition: 0.3s ease;
}

 .navigation .side-bar20 .menu20 .item20 .sub-menu{
 background: rgba(255, 255, 255, 0.1);
 display: none;
 z-index: 999;
}

 .navigation .side-bar20 .menu20 .item20 .sub-menu a{
 padding-left: 80px;
 z-index: 999;
}

 .navigation .rotate{
 transform: rotate(90deg);
}

 .navigation .close-btn20{
 position: absolute;
 color: #fff;
 font-size: 20px;
 right: 0;
 margin: 25px;
 cursor: pointer;
}

 .navigation .menu-btn20{
  z-index: 999;
 position: absolute;
 color: red;
 font-size: 20px;
 margin: 25px;
 cursor: pointer;
} */


/* .main{
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 50px;
}

.main h1{
 color: rgba(255, 255, 255, 0.8);
 font-size: 60px;
 text-align: center;
 line-height: 80px;
} */

body {
    min-height: 110vh;
}

.title1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.borderup {
    width: 600px;
    height: 80px;
    position: relative;
    text-align: center;
}

.borderup img {
    width: 600px;
    height: 120px;
}

.borderdown {
    height: 80px;
    /* width: 1200px; */
    position: relative;
    text-align: center;
}

.borderdown img {
    width: 600px;
    height: 120px;
}

.section-title1 {
    color: brown;
    position: relative;
    font-size: 2.2em;
    font-weight: 700;
    margin-top: 10%;
}

.section-title1:before {
    content: '';
    position: absolute;
    top: 50px;
    left: 60px;
    width: 250px;
    height: 6px;
    background: coral;
    transform: translateX(-25%);
}

.section-title1:after {
    content: '';
    position: absolute;
    top: 50px;
    left: 50px;
    width: 15px;
    height: 15px;
    background: coral;
    transform: translateX(450%);
}

.swift3 {
    /* overflow-x: scroll; */
    width: 100%;
    justify-content: space-between;
    /* height: 50%; */
}

.content1 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 55px 100px;
    /* height: 200px; */
}

.column {
    float: left;
    width: 75%;
    /* height: 75%; */
    /* overflow-x: hidden; */
    /* padding: 10px; */
    margin-left: 10px;
    justify-content: space-around;
}


/* Clear floats after the columns */

.row {
    content: "";
    /* overflow-x: auto; */
    display: flex;
    clear: both;
}


/* .content1 .col-left .img-card4{
  position: relative;
  width: 100%;
  min-height: 450px;
}
.content1 .col-left .img-card4 img{
  position: relative;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
} */

.content1 .row .column .col-right .section-title1 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
    text-decoration: solid;
}

.content1 .row .column .col-right .content-title1 {
    font-size: 1em;
    text-decoration: wavy;
    margin-left: 25%;
}

.content1 .row .column .col-right .paragraphedit {
    font-size: em;
    margin-left: 25%;
}

.content1 .col-left .img-card1 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content1 .col-left .img-card1:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content1 .col-left .img-card1::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-21\ at\ 19.19.04.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content1 .col-left .img-card1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content1 .col-left .img-card2 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content1 .col-left .img-card2:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content1 .col-left .img-card2::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-21\ at\ 19.19.19.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content1 .col-left .img-card2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content1 .col-left .img-card3 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content1 .col-left .img-card3:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content1 .col-left .img-card3::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-21\ at\ 19.19.29.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content1 .col-left .img-card3 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content1 .col-left .img-card4 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content1 .col-left .img-card4:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content1 .col-left .img-card4::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-19\ at\ 18.50.12.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content1 .col-left .img-card4 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content1 .col-left .img-card5 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content1 .col-left .img-card5:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content1 .col-left .img-card5::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-21\ at\ 19.19.38.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content1 .col-left .img-card5 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.section-title2 {
    color: brown;
    position: relative;
    font-size: 2.2em;
    font-weight: 700;
    margin-top: 10%;
}

.section-title2:before {
    content: '';
    position: absolute;
    top: 50px;
    left: 60px;
    width: 125px;
    height: 6px;
    background: coral;
    transform: translateX(-45%);
}

.section-title2:after {
    content: '';
    position: absolute;
    top: 50px;
    left: 50px;
    width: 15px;
    height: 15px;
    background: coral;
    transform: translateX(90%);
}

.swift4 {
    /* overflow-x: scroll; */
    width: 100%;
    justify-content: space-between;
    /* height: 50%; */
}

.content2 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 55px 100px;
    /* height: 200px; */
}

.column {
    float: left;
    width: 75%;
    /* height: 75%; */
    /* overflow-x: hidden; */
    /* padding: 10px; */
    margin-left: 10px;
    justify-content: space-around;
}


/* Clear floats after the columns */

.row {
    content: "";
    /* overflow-x: auto; */
    display: flex;
    clear: both;
}


/* .content1 .col-left .img-card4{
  position: relative;
  width: 100%;
  min-height: 450px;
}
.content1 .col-left .img-card4 img{
  position: relative;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
} */

.content2 .row .column .col-right .section-title2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
    text-decoration: solid;
}

.content2 .row .column .col-right .content-title2 {
    font-size: 1em;
    text-decoration: wavy;
    margin-left: 25%;
}

.content2 .row .column .col-right .paragraphedit {
    font-size: em;
    margin-left: 25%;
}

.content2 .col-left .img-card6 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content2 .col-left .img-card6:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content2 .col-left .img-card6::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-21\ at\ 22.36.20.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content2 .col-left .img-card6 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content2 .col-left .img-card7 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content2 .col-left .img-card7:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content2 .col-left .img-card7::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-21\ at\ 22.39.46.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content2 .col-left .img-card7 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content2 .col-left .img-card8 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content2 .col-left .img-card8:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content2 .col-left .img-card8::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-21\ at\ 22.48.07.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content2 .col-left .img-card8 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content2 .col-left .img-card9 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content2 .col-left .img-card9:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content2 .col-left .img-card9::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-21\ at\ 23.05.45.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content2 .col-left .img-card9 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content2 .col-left .img-card10 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content2 .col-left .img-card10:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content2 .col-left .img-card10::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-21\ at\ 22.52.14.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content2 .col-left .img-card10 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.section-title3 {
    color: brown;
    position: relative;
    font-size: 2.2em;
    font-weight: 700;
    margin-top: 10%;
}

.section-title3:before {
    content: '';
    position: absolute;
    top: 50px;
    left: 60px;
    width: 225px;
    height: 6px;
    background: coral;
    transform: translateX(-25%);
}

.section-title3:after {
    content: '';
    position: absolute;
    top: 50px;
    left: 50px;
    width: 15px;
    height: 15px;
    background: coral;
    transform: translateX(350%);
}

.swift5 {
    /* overflow-x: scroll; */
    width: 100%;
    justify-content: space-between;
    /* height: 50%; */
}

.content3 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 55px 100px;
    /* height: 200px; */
}

.column {
    float: left;
    width: 75%;
    /* height: 75%; */
    /* overflow-x: hidden; */
    /* padding: 10px; */
    margin-left: 10px;
    justify-content: space-around;
}


/* Clear floats after the columns */

.row {
    content: "";
    /* overflow-x: auto; */
    display: flex;
    clear: both;
}


/* .content1 .col-left .img-card4{
  position: relative;
  width: 100%;
  min-height: 450px;
}
.content1 .col-left .img-card4 img{
  position: relative;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
} */

.content3 .row .column .col-right .section-title3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
    text-decoration: solid;
}

.content3 .row .column .col-right .content-title3 {
    font-size: 1em;
    text-decoration: wavy;
    margin-left: 25%;
}

.content3 .row .column .col-right .paragraphedit {
    font-size: em;
    margin-left: 25%;
}

.content3 .col-left .img-card11 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content3 .col-left .img-card11:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content3 .col-left .img-card11::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-22\ at\ 21.52.33.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content3 .col-left .img-card11 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content3 .col-left .img-card12 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content3 .col-left .img-card12:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content3 .col-left .img-card12::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-22\ at\ 21.54.31.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content3 .col-left .img-card12 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content3 .col-left .img-card13 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content3 .col-left .img-card13:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content3 .col-left .img-card13::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-22\ at\ 21.56.53.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content3 .col-left .img-card13 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content3 .col-left .img-card14 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content3 .col-left .img-card14:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content3 .col-left .img-card14::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-22\ at\ 21.58.27.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content3 .col-left .img-card14 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content3 .col-left .img-card15 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content3 .col-left .img-card15:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content3 .col-left .img-card15::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-22\ at\ 22.00.20.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content3 .col-left .img-card15 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.section-title4 {
    color: brown;
    position: relative;
    font-size: 2.2em;
    font-weight: 700;
    margin-top: 10%;
}

.section-title4:before {
    content: '';
    position: absolute;
    top: 50px;
    left: 60px;
    width: 180px;
    height: 6px;
    background: coral;
    transform: translateX(-35%);
}

.section-title4:after {
    content: '';
    position: absolute;
    top: 50px;
    left: 50px;
    width: 15px;
    height: 15px;
    background: coral;
    transform: translateX(180%);
}

.swift6 {
    /* overflow-x: scroll; */
    width: 100%;
    justify-content: space-between;
    /* height: 50%; */
}

.content4 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 55px 100px;
    /* height: 200px; */
}

.column {
    float: left;
    width: 75%;
    /* height: 75%; */
    /* overflow-x: hidden; */
    /* padding: 10px; */
    margin-left: 10px;
    justify-content: space-around;
}


/* Clear floats after the columns */

.row {
    content: "";
    /* overflow-x: auto; */
    display: flex;
    clear: both;
}


/* .content1 .col-left .img-card4{
  position: relative;
  width: 100%;
  min-height: 450px;
}
.content1 .col-left .img-card4 img{
  position: relative;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
} */

.content4 .row .column .col-right .section-title3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
    text-decoration: solid;
}

.content4 .row .column .col-right .content-title3 {
    font-size: 1em;
    text-decoration: wavy;
    margin-left: 25%;
}

.content4 .row .column .col-right .paragraphedit {
    font-size: em;
    margin-left: 25%;
}

.content4 .col-left .img-card16 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content4 .col-left .img-card16:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content4 .col-left .img-card16::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-22\ at\ 23.35.00.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content4 .col-left .img-card16 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content4 .col-left .img-card17 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content4 .col-left .img-card17:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content4 .col-left .img-card17::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-22\ at\ 23.42.02.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content4 .col-left .img-card17 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content4 .col-left .img-card18 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content4 .col-left .img-card18:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content4 .col-left .img-card18::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-22\ at\ 23.44.14.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content4 .col-left .img-card18 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content4 .col-left .img-card19 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content4 .col-left .img-card19:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content4 .col-left .img-card19::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-23\ at\ 09.50.54.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content4 .col-left .img-card19 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content4 .col-left .img-card20 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content4 .col-left .img-card20:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content4 .col-left .img-card20::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-23\ at\ 09.52.00.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content4 .col-left .img-card20 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title5 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.section-title5 {
    color: brown;
    position: relative;
    font-size: 2.2em;
    font-weight: 700;
    margin-top: 10%;
}

.section-title5:before {
    content: '';
    position: absolute;
    top: 50px;
    left: 60px;
    width: 300px;
    height: 6px;
    background: rgb(255, 72, 0);
    transform: translateX(-20%);
}

.section-title5:after {
    content: '';
    position: absolute;
    top: 50px;
    left: 50px;
    width: 15px;
    height: 15px;
    background: coral;
    transform: translateX(600%);
}

.swift7 {
    /* overflow-x: scroll; */
    width: 100%;
    justify-content: space-between;
    /* height: 50%; */
}

.content5 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 55px 100px;
    /* height: 200px; */
}

.column {
    float: left;
    width: 75%;
    /* height: 75%; */
    /* overflow-x: hidden; */
    /* padding: 10px; */
    margin-left: 10px;
    justify-content: space-around;
}


/* Clear floats after the columns */

.row {
    content: "";
    /* overflow-x: auto; */
    display: flex;
    clear: both;
}


/* .content1 .col-left .img-card4{
  position: relative;
  width: 100%;
  min-height: 450px;
}
.content1 .col-left .img-card4 img{
  position: relative;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
} */

.content5 .row .column .col-right .section-title4 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
    text-decoration: solid;
}

.content5 .row .column .col-right .content-title4 {
    font-size: 1em;
    text-decoration: wavy;
    margin-left: 25%;
}

.content5 .row .column .col-right .paragraphedit {
    font-size: em;
    margin-left: 25%;
}

.content5 .col-left .img-card21 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content5 .col-left .img-card21:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content5 .col-left .img-card21::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-23\ at\ 21.33.37.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content5 .col-left .img-card21 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content5 .col-left .img-card22 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content5 .col-left .img-card22:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content5 .col-left .img-card22::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-23\ at\ 21.35.23.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content5 .col-left .img-card22 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content5 .col-left .img-card23 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content5 .col-left .img-card23:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content5 .col-left .img-card23::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-23\ at\ 21.37.29.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content5 .col-left .img-card23 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content5 .col-left .img-card24 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content5 .col-left .img-card24:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content5 .col-left .img-card24::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-23\ at\ 21.39.20.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content5 .col-left .img-card24 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content5 .col-left .img-card25 {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: 0.5;
    justify-content: space-between;
}

.content5 .col-left .img-card25:hover {
    transform: rotateY(35deg);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.content5 .col-left .img-card25::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    transform-origin: left;
    background: url(WhatsApp\ Image\ 2021-06-23\ at\ 21.40.56.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(90deg);
}

.content5 .col-left .img-card25 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-section {
    overflow: hidden;
    text-align: center;
    background: rgb(255, 157, 101);
    padding: 60px;
}

.team-section h2 {
    text-transform: uppercase;
    margin-bottom: 60px;
    color: rgb(62, 21, 82);
    font-size: 40px;
}


/* .team-section .border{
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: black;
  margin-bottom: 40px;
} */

.team-section .ps {
    margin-bottom: 40px;
    justify-content: space-around;
}

.team-section .ps a {
    display: inline-block;
    margin: 0 30px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    justify-content: space-between;
}

.team-section .ps a img {
    height: 100px;
    width: 100px;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}

.team-section .ps a:hover>img {
    filter: none;
}

.team-section .sect {
    width: 600px;
    margin: auto;
    font-size: 20px;
    font-weight: 400;
    color: rgb(52, 21, 88);
    text-align: justify;
    height: 0;
    overflow: hidden;
}

.team-section .sect:target {
    height: auto;
}

.team-section .sect .name {
    display: block;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(62, 21, 82);
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
}

.team-section .sect .pedit1 {
    color: black;
    background-color: lightskyblue;
    border-left: 5px solid darkblue;
    width: 600px;
    height: 200px;
    text-align: center;
    justify-content: center;
}

.team-section .sect .pedit3 {
    color: black;
    background-color: lightgreen;
    border-left: 5px solid darkgreen;
    width: 600px;
    height: 150px;
    text-align: center;
    justify-content: center;
}

.team-section .sect .pedit2 {
    background-color: lightpink;
    color: black;
    border-left: 5px solid red;
    width: 600px;
    height: 150px;
    text-align: center;
    justify-content: center;
}

footer {
    position: relative;
    width: 100%;
    height: 320px;
    width: 100%;
    padding: 15px 40px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container1 .sec {
    margin-right: 30px;
}

footer .container1 .sec.aboutus {
    width: 40%;
}

footer .container1 h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container1 h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer p {
    color: #999;
}

.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 10px;
}

.sci li a:hover {
    background: #f00;
}

.sci li a .fab {
    color: #fff;
    font-size: 20px;
}

.quicklinks {
    position: relative;
    width: 25%;
}

.quicklinks ul li {
    list-style: none;
}

.quicklinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quicklinks ul li a:hover {
    color: #fff;
}

.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info {
    position: relative;
}

.contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span {
    color: #999;
}

.contact .info li a {
    color: #999;
    text-decoration: none;
}

.contact .info li a:hover {
    color: #fff;
}

.copyrightText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

@media (max-width: 991px) {
    footer {
        padding: 40px;
    }
    footer .container1 {
        flex-direction: column;
    }
    footer .container1 .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container1 .sec.aboutus,
    .quicklinks,
    .contact {
        width: 100%;
    }
    .copyrightText {
        padding: 8px 40px;
    }
}

.button1 {
    list-style: none;
    border: 2px solid black;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    color: black;
    margin-left: 85%;
    /* padding: 20px; */
    text-align: center;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
}

.button1:hover {
    height: 25px;
    width: 140px;
    background: linear-gradient(90deg, #755bea, #ff72c0);
}

.button1 .button {
    text-align: center;
    margin-top: -50%;
    text-decoration: none;
    padding: 20px;
    list-style: none;
    color: black;
}
footer .container1 .aboutus .logo h4{
    color: white;
    font-weight: 400;
}
footer .container1 .aboutus .sci h4{
    color: white;
    font-weight: 400;
}